@mixin article-card($color: red, $border-color: blue, $font-size: 1rem) {
  color: $color;
  border-color: $border-color;
  font-size: $font-size;
}

@function to-rem($value) {
  @return #{$value / 16}rem;
}

div {
  @include article-card();
  border: to-rem(1) solid;

  h1 {
    @include article-card(green, $font-size: to-rem(24));
    text-align: center;
    text-decoration: underline blue to-rem(0.5);
  }
  h2 {
    @extend h1;
    padding: 1rem;
    border: 1px solid red;
    text-decoration: none;
    width: 268px;
    margin-inline: auto;
  }
  section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: to-rem(10);
    article {
      @include article-card(green);
      border: to-rem(1) solid;
      padding: to-rem(15);
    }
    article:nth-child(odd) {
      @include article-card(blue, green);
    }
    article:nth-child(even) {
      @include article-card(red, green);
    }
  }
  section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    div {
      border: 1px solid red;
      height: to-rem(45);
      width: to-rem(45);
      text-align: left;
    }

    @for $index from 1 through 3 {
      div.fs-#{$index}rem {
        font-size: $index + rem;
      }
    }
  }

  $bg-color: white;
  $color: black;
  @for $i from 1 through 19 {
    $bg-color: darken($bg-color, 5%);
    $color: lighten($color, 5%);
    @if ($i == 10) {
      section > div:nth-child(10) {
        background-color: blue;
        color: red;
      }
    } @else {
      section > div:nth-child(#{$i}) {
        background-color: $bg-color;
        color: $color;
      }
    }
  }

  section:last-of-type {
    article {
      @include article-card($border-color: blue);
      flex-grow: 1;
      p {
        @include article-card(green, $font-size: to-rem(24));
      }
    }
  }
}
