:root {
  --color1: #011212;
  --widthball: 100px;
  --heightball: 100px;
  --color2: #ff8800;
  --borderRadiusBall: 50px;
}

body {
  background-color: var(--color1);
}

.ball {
  width: var(--widthball);
  height: var(--heightball);
  background-color: var(--color2);
  border-radius: var(--borderRadiusBall);
}
